<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>HelloWorld</servlet-name>
        <servlet-class>com.cjl.servlet.HelloWorldServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.cjl.servlet.LoginServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet>
        <servlet-name>CookieServlet</servlet-name>
        <servlet-class>com.cjl.servlet.CookieServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>MyServlet</servlet-name>
        <servlet-class>com.cjl.servlet.MyServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>MyForwardServlet</servlet-name>
        <servlet-class>com.cjl.servlet.MyForwardServlet</servlet-class>
    </servlet>


    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>com.cjl.servlet.ticket.AdminLoginServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>UserLoginServlet</servlet-name>
        <servlet-class>com.cjl.servlet.session.UserLoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>UserLoginServlet</servlet-name>
        <url-pattern>/session/UserLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HelloWorld</servlet-name>
        <url-pattern>/HelloWorld</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>MyServlet</servlet-name>
        <url-pattern>/MyServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>MyForwardServlet</servlet-name>
        <url-pattern>/MyForwardServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/AdminLoginServlet</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CookieServlet</servlet-name>
        <url-pattern>/CookieServlet</url-pattern>
    </servlet-mapping>
</web-app>